# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS specific files
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# pytest
.pytest_cache/ 